
body{
    background:url(../images/bg-desktop.svg) no-repeat #674bb1;
    background-size: cover;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;  
    padding: 30px 70px; 
}

header{
    display: flex;  
}

.logo{
    justify-content: left;
    padding: 25px 0;
    width: 15%;
}

.content{
    display: flex;
    width: 100%;
    height: 64vh;
    margin: 60px 0 45px 0;
    flex-wrap: wrap;
    max-width: 1600px;
    align-content: center;
    justify-content: center;
}

.content .image{
    width: 50%;
    text-align: center;

}

.content .description{
    width: 40%;
    text-align: left;
    margin-left: 35px;
    margin-top: 10px;
}

.content .description h1{
    font-size: 2.8rem;
    padding: 40px 70px 20px 0;
    color: #fff;
}

.content .description p{
    font-size: 1.3rem;
    line-height: 25px;
    padding: 0 20px 0 0;
    color: #fff;
    margin-bottom: 40px;
}

.content .description a{
    font-size: 1.2rem;
    font-family:  Roboto, sans-serif;
    padding: 13px 50px;
    border-radius: 50px;
    transition: 0.3s;
    color:#904ec9;
    background-color: #fff;
    box-shadow: 5px 5px 10px #503a8a;
    align-self: flex-start;
    transition: 0.3s;
}

.content .description a:hover{
    background-color: #e681e7;
    color: #fff;
}

.footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.info ,.attribution p{
    font-size: 1rem;
}

.info .attribution a{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 20px;
    width: 2.5rem;
}

.social-media a i{
    font-size: 19px;
    padding: 10px 10px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    width: 2.5rem;
    margin-left: 10px;
    text-align: center;
    transition: 0.3s;    
}

.social-media a i:hover{
    color: #fe50c3;
    border: 1px solid #fe50c3;
}


@media(max-width: 1350px){
    .logo{
        width: 20%;
    }
    .content .description h1{
        font-size:2rem;
    }
    .content .description p{
        font-size: 1.2rem;
    }
    .content .description a{
        font-size: 1rem;
    }
}
@media(max-width:1024px){
    .content{
        margin-top: 0;
    }
    .content .description h1{
        font-size: 1.5rem;
    }
    .content .description p{
        font-size: 1rem;
    }
    .content .description a{
        font-size: 1rem;
    }
}

@media(max-width:1023px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat #674bb1;
        background-size: contain;
        padding: 0;
    }
    main{
          padding: 0 40px 40px 40px;
    }
    header{
          justify-content: flex-start;
    }
    .logo{
          width: 30%;
    }
    .content .image{ 
        width: 60%;
    }
    .content .description{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .content .description h1{
        padding-right: 0;
        font-size: 1.5rem;
    }
    .content .description p{
        font-size: 1.2rem;
        padding-right: 0;
    }
    .content .description a{
        padding: 13px 80px;
        font-size: 1.3rem;
    }
    .footer{
        justify-content: center;
        padding-bottom: 40px;
        width: 100%;
        padding-top: 50px;
    }
    .social-media a i{
        flex-basis: 1;
        font-size: 20px;
       
    }
    .attribution{
        display: none;
    }
}

@media(max-width:478px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat #674bb1;
        background-size:contain;
        padding: 0;
    }
    .logo{
          width: 45%;
    }
    .content{
        margin-top: 45px;
        margin-bottom: 80px;
    }
    .content .image{ 
        width: 90%;
    }
    .content .description{
        width: 100%;
        text-align: center;
        margin-left: 0;
    }
    .content .description h1{
        padding-right: 0;
        font-size: 1.5rem;
    }
    .content .description p{
        font-size: 1rem;
        padding-right: 0;
    }
    .content .description a{
        padding: 13px 80px;
        font-size: 1rem;
    }
    .footer{
        justify-content: center;
        padding-bottom: 40px;
        width: 100%;
        
    }
    .social-media a i{
        flex-basis: 1;
        font-size: 15px;
        padding: 10px 10px;
    }

    .attribution{
        display: none;
    }


}

